<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="icon" href="/img/weather.png" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site is created by Johnny Broadway.It uses data from mapbpx.com and darksky.net!</p>
            <img class="portrait" src="./img/canvas.png" />
        </div>

        {{>footer}}
    </body>
</html>